.header {
    padding: remd(15px) 0;
    background: #fff;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;

    &__caption {
        margin-left: remd(15px);
        font-weight: bold;
        font-size: remd(37px);
        color: $grey;
    }
}

// .nav {

//     &__btn {
//         position: relative;
//         height: remd(33px);
//         width: remd(45px);
//         background: #fafafa;
//         border-radius: 5px;
//         border: 1px solid #e7e7e7;
//         cursor: pointer;

//         &-line {
//             position: absolute;
//                 top: 50%; 
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             height: remd(3px);
//             width: remd(25px);
//             border-radius: 10px;
//             background: #bbbbbb;

//             &:last-child {
//                 top: 73%;
//             }

//             &:first-child {
//                 top: 27%;
//             }
//         }
//     }
// }

.search {
    position: relative;

    &__input {
        width: remd(400px);
        height: remd(27px);
        background: #F7F5F6;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        outline: none;
    }

    &__btn {
        position: absolute;
            top: 50%; transform: translateY(-50%);
            right: 10px;
        width: 20px;
        height: 20px;
        background: url('../images/icons/header/search.png') 0 0 no-repeat;
        border: none;
        background-size: cover;
    }
}

// .user {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     cursor: pointer;

//     &__image {
//         height: remd(39px);
//         width: remd(39px);
//         border-radius: 50%;
//     }

//     &__name {
//         margin-left: remd(15px);
//         font-size: remd(16px);
//         font-weight: normal;
//         color: $light-grey;
//     }
// }

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    &__btn {
        padding: remd(7px) remd(15px);
        border: 1px solid #e7e7e7;
        background: #F7F5F6;
        color: rgba($color: #000000, $alpha: 0.6);
        text-transform: uppercase;
        margin-left: remd(20px);
        border-radius: 7px;
        font-weight: bold;
        transition: 300ms;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            color: $light-grey;
        }
    }
}

