@import "base/fonts";

// adjustment variables
$container-width    : 1024px;
$footer-height      : 70px;
$body-font          : 'Open Sans', sans-serif;

//colors
$grey: #363636;
$light-grey: #b7b5b5;
$green: #b9cb41;

// base
@import "base/mixins";
@import "base/normalize";
@import "base/adjustment";



//layout
@import "layout/header";
@import "layout/maincontent";
// @import "layout/advant";
// @import "layout/view-more";
// @import "layout/footer";

//components
@import "components/modals";